* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


nav .upper-btns {
    width: 100vw;
    height: 60px;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
}

nav .upper-btns a{
    color: #000;
    font-size: 13px;
    padding: 9px 15px 9px 15px;
    text-align: center;
    text-decoration: none;
}

#sign-in-btn {
    background-color: #1A73E8;
    color: #fff;
    border-radius: 5px;
    height: 36px;
    width: 100px;
    box-sizing: border-box;
}

/*#sign-in-btn {
    background-color: #1A73E8;
    color: #fff;
    width: 100px;
    height: 35px;
    margin: 4px 8px 4px 8px;
    padding: 9px 23px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}*/

 nav a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.image-container {
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.google-logo {
    width: auto;
    max-width:100%;
    height:auto;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

div .search-input {
    display: flex;
    justify-content: center;
    width: 580px;
    border: solid #e7e7e7 1px;
    border-radius: 20px;
    height: 40px;
}

div .search-input:hover {
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.search-img {
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
}

.search-input input {
    width: 500px;
    height: 35px;
    border: none;
}

.search-input input:focus {
    outline: #fff;
}

.search-btn {
    height: 40px;
    width: 150px;
    padding: 0px 16px;
    background-color: #F9F8FA;
    color: #3c4043;
    border: none;
    margin: 10px;
    font-size: 15px;
}

.blank-container {
    flex-shrink: 0;
    flex-grow: 1;
    box-sizing: border-box;
}

footer {
    background-color: #f2f2f2;
    color: rgba(0,0,0,.54);
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    bottom: 0;
    font-size: 15px;
}


.location-box {
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
    box-sizing: border-box;
}

.about-box {
    height: 50px;
    border-top: #333;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-top: rgba(0,0,0, .5);
}

.about-box a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
    padding: 0 20px;
}

.left-links {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    padding: 15px 20px;
    flex-wrap: wrap;
}

.right-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 20px;
    flex-wrap: wrap;
}

.about-box a:hover {
    text-decoration: underline;
}