* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}


.full-page {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.full-page nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 48px;
}

.full-page nav a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    padding: 9px 23px;
    text-align: center;
}

nav a .upper-btn {
    padding-top: 10px;
}

#sign-in-btn {
    background-color: #1A73E8;
    color: #fff;
    width: 100px;
    height: 35px;
    margin: 4px 8px 4px 8px;
    padding: 9px 23px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

 nav a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.image-container {
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    align-items: flex-end;
}

.google-logo {
    padding: 30px;
    width: auto;
    max-width:100%;
    height:auto;
}


.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div .search-input {
    display: flex;
    justify-content: center;
    width: 580px;
    border: solid #e7e7e7 1px;
    border-radius: 20px;
    height: 40px;
}

div .search-input:hover {
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.search-img {
    margin: auto;
    padding: 10px;
}

.search-input input {
    width: 500px;
    height: 35px;
    border: none;
}

.search-input input:focus {
    outline: #fff;
}



.search-btn {
    height: 40px;
    width: 150px;
    padding: 0px 16px;
    background-color: #F9F8FA;
    border: none;
    margin: 10px;
    font-size: 15px;
}

.blank-container {
    height: 40vh;
}

footer {
    background-color: #f2f2f2;
    color: rgba(0,0,0,.54);
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    bottom: 0;
    font-size: 15px;
}


.location-box {
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
}

.about-box {
    height: 50px;
    border-top: #333;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-top: rgba(0,0,0, .5);
}

.about-box a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
    padding: 0 20px;
}

.left-links {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    padding: 15px 20px;
}

.right-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 20px;
}

.about-box a:hover {
    text-decoration: underline;
}